/*.follow form{
    position: sticky;
    top:0px;
    background-color: WHITE;
    width:75%;
    max-width: 600px;

}*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,400;1,700&display=swap');
*{
   margin:0; 
 
   font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
    position: relative;
    
}
body{
   margin: 0;
    max-width: 100%;
}

.link{
    text-decoration:none;
    padding:0.5rem 1rem;
    text-shadow: 1px;
}
    

.link:hover{
    text-decoration: underline;
}
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding:0rem 0.5rem;
}
/*footer{
    background-color: black;
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}*/
.footer .link{
    color: black;
}
.footer ul{
    padding-inline-start: 0px;
}
.footer-header{
    font-weight: bold;
    font-size: 1.1rem;
}
img{
    /* border-right: solid black 2px; */
    height: 100vh;
    width: 70vw;
}
.grid-container{
    font-family: Graphik Web,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 70vw auto;
}
li{
    padding-top: 10px;
}